* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* Style the body */
  body {
    font-family: monospace;
    line-height: 1.5;
    color: #333;
    min-height: 100vh;
  }
  
  /* Style the header */
  header {
    background-color: #f8f8ff;
    padding: 1rem;
    box-shadow: 0px 0px 5px 0px grey;
    position: relative;
    width: 100%;
    top: 0;
    z-index: 100;
    display: block;
  }
  
  .header_div_1
  {
      text-align: center;
      font-size: 20px;
  }
  
  /* Style the logo */
  .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  /* Style the navigation menu */
  
  .header_div_2
  {
      text-align: center;
      width: max-content;
      margin: auto;
  }
  
  .header_div_2_ul {
    display: flex;
    list-style-type: none;
    margin: auto;
    width: 100%;
  }
  
  div ul li {
    margin-right: 1rem;
  }
  
  div ul li:last-child {
    margin-right: 0;
  }
  
  div ul li a {
    color: #333;
    text-decoration: none;
  }
  
  div ul li a:hover {
    text-decoration: underline;
  }

  footer {
    background-color: #f8f8ff;
    padding: 1rem;
    text-align: center;
    box-shadow: 0px 0px 5px 0px grey;
    position: fixed;
    width: 100%;
    display: block;
    bottom : 0;
  }

  main {
    padding: 1rem;
    height: auto;
    background-color: white;
    position: relative;
  }
  
  .sign-in_area
  {
    width: max-content;
    height: 0;
    transition: height 1s ease;
    overflow: hidden;
    margin: auto;
    display: block;
    background-color: #f8f8ff;
    margin-top: 25px;
  }
  
  #sign_in_div_id
  {
    display: block;
  }
  
  #sign_up_div_id
  {
    display: none;
  }
  
  .sign-in_form
  {
    line-height: 90px;
    margin: 5px;
    display: block;
  }
  
  input#sign-in_username {
      display: block;
      width: 100%;
      height: 40px;
      padding: 10px;
  }
  
  input#sign-in_password {
      display: block;
      width: 100%;
      height: 40px;
      padding: 10px;
      margin-top: 10px;
  }
  
  input#sign-in_stay_signed_in {
      width: 40%;
      float: left;
      margin-top: 12px;
      height: 15px;
  }
  
  h4.stay_signed_in_h4 {
      width: 60%;
      float: left;
      height: 100%;
      line-height: 40px;
  }
  
  input#sign-in_submit{
      display: block;
      margin: auto;
      width: 100px;
      background: #333;
      height: 30px;
      color: white;
      border-radius: 5px;
      border: none;
      margin-top: 10px;
  }
  
  input#sign-in_submit:hover {
    background-color: #111;
    cursor: pointer;
  }
  
  
  
  .new_user_span_class, .current_user_span_class
  {
    color: blue;
    margin: auto;
    display: block;
    width: max-content;
    cursor: pointer;
  }
  
  .new_user_span_class:hover, .current_user_span_class:hover
  {
    text-decoration: underline;
  }
  
  form.sign-up_form {
      line-height: 90px;
      margin: 5px;
    display: block;
  }
  
  input#sign-up_username {
      display: block;
      width: 100%;
      height: 40px;
      padding: 10px;
  }
  
  input#sign-up_email {
      display: block;
      width: 100%;
      height: 40px;
      padding: 10px;
      margin-top: 10px;
  }
  
  input#sign-up_retype_email {
      display: block;
      width: 100%;
      height: 40px;
      padding: 10px;
      margin-top: 10px;
  }
  
  input#sign-up_password {
      display: block;
      width: 100%;
      height: 40px;
      padding: 10px;
      margin-top: 10px;
  }
  
  input#sign-up_submit {
      display: block;
      margin: auto;
      width: 100px;
      background: #333;
      height: 30px;
      color: white;
      border-radius: 5px;
      border: none;
      margin-top: 10px;
  }
  
  input#sign-up_submit:hover
  {
    background-color: #111;
    cursor: pointer;
  }